## **Analysis of wildfires in Greece** 🌳🔥
###Exploratory Data Analysis (EDA) of Greek wildfire data from 2019-2024 to identify factors contributing to large fires.

#Initial Data Assesment

Φωρτώνουμε το σύνολο δεδομένων το οποίο έχει συλλεχθεί απο https://www.fireservice.gr/el/synola-dedomenon για τα έτη 2019-2024. (Η μετατροπή σε csv και το merge έχουν είδη γίνει)

In [2]:
import pandas as pd
import scipy as sc
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

df = pd.read_csv("wildfiresGR.csv", low_memory=False, na_values=['Not Found'])

In [3]:
df.shape

(58703, 38)

In [4]:
df.tail()

,Α/Α ΕΓΓΡΑΦΗΣ,Α/Α ENGAGE,X-ENGAGE,Y-ENGAGE,Υπηρεσία,Νομός,Ημερ/νία Έναρξης,Ώρα Έναρξης,Ημερ/νία Κατασβεσης,Ώρα Κατάσβεσης,Δασαρχείο,Δήμος,Περιοχή,Διεύθυνση,Δάση,Δασική Έκταση,Άλση,Χορτ/κές Εκτάσεις,Καλάμια - Βάλτοι,Γεωργικές Εκτάσεις,Υπολλείματα Καλλιεργειών,Σκουπι-δότοποι,ΠΥΡΟΣ. ΣΩΜΑ,ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ,ΕΘΕΛΟ-ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ. ΟΧΗΜ.,ΟΧΗΜ. ΥΠΗΡΕΣΙΑΚΑ,ΒΥΤΙΟ- ΦΟΡΑ,ΜΗΧΑΝΗ-ΜΑΤΑ,ΕΛΙΚΟ- ΠΤΕΡΑ,Α/Φ CL415,Α/Φ CL215,Α/Φ PZL,Α/Φ GRU.,ΜΙΣΘ. ΕΛΙΚΟΠΤ.,ΜΙΣΘ. ΑΕΡΟΣΚ.
58698,2018123.0,1227154.0,20.878877,37.745634,Π.Υ. ΖΑΚΥΝΘΟΥ,ΖΑΚΥΝΘΟΥ,10/07/2024,13:08,10/07/2024,14:25,NaN,Δ. ΖΑΚΥΝΘΟΥ,NaN,Τ.Κ.ΑΜΠΕΛΟΚΗΠΩΝ,0.00,0.0,0.0,0.00,0.03,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58699,2023999.0,1232674.0,20.776636,37.750583,Π.Υ. ΖΑΚΥΝΘΟΥ,ΖΑΚΥΝΘΟΥ,10/26/2024,20:18,10/27/2024,19:37,NaN,Δ. ΖΑΚΥΝΘΟΥ,NaN,Τ.Κ. ΚΟΙΛΙΩΜΕΝΟΥ,0.00,0.5,0.0,0.00,0.00,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58700,2034292.0,1242147.0,20.883848,37.808427,Π.Υ. ΖΑΚΥΝΘΟΥ,ΖΑΚΥΝΘΟΥ,11/02/2024,12:25,11/25/2024,13:49,NaN,Δ. ΖΑΚΥΝΘΟΥ,NaN,ΑΚΡΩΤΗΡΙ,0.00,0.0,0.0,0.01,0.00,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58701,1952074.0,1146350.0,20.651565,37.868703,Π.Κ. ΕΛΑΤΙΩΝ,ΖΑΚΥΝΘΟΥ,02/01/2024,20:15,02/01/2024,21:06,NaN,Δ. ΖΑΚΥΝΘΟΥ,ΑΝΩ ΒΟΛΙΜΕΣ,Τ.Κ. ΒΟΛΙΜΩΝ,0.02,0.0,0.0,0.00,0.00,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58702,1952227.0,1149275.0,20.653435,37.815964,Π.Κ. ΕΛΑΤΙΩΝ,ΖΑΚΥΝΘΟΥ,02/10/2024,18:57,02/14/2024,08:19,NaN,Δ. ΖΑΚΥΝΘΟΥ,ΕΞΩ ΧΩΡΑ,ΕΞΩ ΧΩΡΑ (ΛΑΚΚΟΣ),0.00,170.0,0.0,0.00,0.00,0.0,0.0,0.0,40.0,0.0,8.0,0.0,3.0,17,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58703 entries, 0 to 58702
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Α/Α ΕΓΓΡΑΦΗΣ              49203 non-null  float64
 1   Α/Α ENGAGE                49203 non-null  float64
 2   X-ENGAGE                  47362 non-null  float64
 3   Y-ENGAGE                  47362 non-null  float64
 4   Υπηρεσία                  58703 non-null  object
 5   Νομός                     58703 non-null  object
 6   Ημερ/νία Έναρξης          58703 non-null  object
 7   Ώρα Έναρξης               58703 non-null  object
 8   Ημερ/νία Κατασβεσης       43884 non-null  object
 9   Ώρα Κατάσβεσης            43778 non-null  object
 10  Δασαρχείο                 10365 non-null  object
 11  Δήμος                     58703 non-null  object
 12  Περιοχή                   30971 non-null  object
 13  Διεύθυνση                 58703 non-null  object
 14  Δάση                      58703 non-null  float64
 15  Δασική Έκταση             58703 non-null  float64
 16  Άλση                      58703 non-null  float64
 17  Χορτ/κές Εκτάσεις         58703 non-null  float64
 18  Καλάμια - Βάλτοι          58703 non-null  float64
 19  Γεωργικές Εκτάσεις        58703 non-null  float64
 20  Υπολλείματα Καλλιεργειών  58703 non-null  float64
 21  Σκουπι-δότοποι            58703 non-null  float64
 22  ΠΥΡΟΣ. ΣΩΜΑ               58693 non-null  float64
 23  ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ          58682 non-null  float64
 24  ΕΘΕΛΟ-ΝΤΕΣ                58702 non-null  float64
 25  ΣΤΡΑΤΟΣ                   58702 non-null  float64
 26  ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ            58702 non-null  float64
 27  ΠΥΡΟΣ. ΟΧΗΜ.              58703 non-null  int64
 28  ΟΧΗΜ. ΥΠΗΡΕΣΙΑΚΑ          27890 non-null  float64
 29  ΒΥΤΙΟ- ΦΟΡΑ               58702 non-null  float64
 30  ΜΗΧΑΝΗ-ΜΑΤΑ               58702 non-null  float64
 31  ΕΛΙΚΟ- ΠΤΕΡΑ              58702 non-null  float64
 32  Α/Φ CL415                 58702 non-null  float64
 33  Α/Φ CL215                 58702 non-null  float64
 34  Α/Φ PZL                   58702 non-null  float64
 35  Α/Φ GRU.                  58702 non-null  float64
 36  ΜΙΣΘ. ΕΛΙΚΟΠΤ.            30815 non-null  float64
 37  ΜΙΣΘ. ΑΕΡΟΣΚ.             30815 non-null  float64
dtypes: float64(27), int64(1), object(10)
memory usage: 17.0+ MB

In [6]:
df.describe()

,Α/Α ΕΓΓΡΑΦΗΣ,Α/Α ENGAGE,X-ENGAGE,Y-ENGAGE,Δάση,Δασική Έκταση,Άλση,Χορτ/κές Εκτάσεις,Καλάμια - Βάλτοι,Γεωργικές Εκτάσεις,Υπολλείματα Καλλιεργειών,Σκουπι-δότοποι,ΠΥΡΟΣ. ΣΩΜΑ,ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ,ΕΘΕΛΟ-ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ. ΟΧΗΜ.,ΟΧΗΜ. ΥΠΗΡΕΣΙΑΚΑ,ΒΥΤΙΟ- ΦΟΡΑ,ΜΗΧΑΝΗ-ΜΑΤΑ,ΕΛΙΚΟ- ΠΤΕΡΑ,Α/Φ CL415,Α/Φ CL215,Α/Φ PZL,Α/Φ GRU.,ΜΙΣΘ. ΕΛΙΚΟΠΤ.,ΜΙΣΘ. ΑΕΡΟΣΚ.
count,4.920300e+04,4.920300e+04,47362.000000,47362.000000,58703.000000,58703.000000,58703.000000,58703.000000,58703.000000,58703.000000,58703.000000,58703.000000,58693.000000,58682.000000,58702.000000,58702.000000,58702.000000,58703.000000,27890.000000,58702.000000,58702.000000,58702.000000,58702.000000,58702.000000,58702.000000,58702.000000,30815.000000,30815.000000
mean,1.770916e+06,1.955038e+07,21.939384,37.330156,19.374925,29.522629,0.010664,7.659393,1.031141,11.619315,3.235792,0.037155,5.919462,0.591817,0.207642,0.038380,0.286072,2.640615,0.119864,0.077391,0.049453,0.040305,0.019045,0.016763,0.029573,0.000630,0.034237,0.033847
std,1.527505e+05,4.107095e+09,4.771198,7.836613,1851.591819,1983.337675,1.328484,380.801376,19.841854,793.555557,140.090629,1.636349,15.620196,5.666823,1.779674,1.482173,5.968071,4.519494,1.381954,0.685391,0.464758,0.499171,0.558692,0.230230,0.293327,0.060797,0.926992,0.807042
min,1.526610e+06,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.640774e+06,8.254050e+05,21.553864,37.652086,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.768622e+06,9.611880e+05,22.400682,38.626741,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.900212e+06,1.098460e+06,23.694210,40.534274,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.047844e+06,9.110230e+11,28.237894,41.743746,316583.000000,425204.000000,300.000000,63989.000000,2166.000000,170224.270000,23960.000000,300.000000,1560.000000,620.000000,206.000000,160.000000,1270.000000,230.000000,109.000000,68.000000,32.000000,29.000000,120.000000,15.000000,34.000000,12.000000,147.000000,125.000000

In [41]:
df.describe(include=['object'])

,Υπηρεσία,Νομός,Ημερ/νία Έναρξης,Ώρα Έναρξης,Ημερ/νία Κατασβεσης,Ώρα Κατάσβεσης,Δασαρχείο,Δήμος,Περιοχή,Διεύθυνση
count,58703,58703,58703,58703,43884,43778,10365,58703,30971,58703
unique,278,52,2169,1385,2155,1367,311,307,2922,27544
top,Π.Υ. ΚΑΛΑΜΑΤΑΣ,ΗΛΕΙΑΣ,11/05/2022,18:00,11/05/2022,19:00,ΚΑΛΑΜΑΤΑΣ,Δ. ΠΥΡΓΟΥ,-,ΑΓΡΟΤΙΚΗ ΠΕΡΙΟΧΗ ΧΡΥΣΟΥΠΟΛΗΣ
freq,2292,4607,136,388,109,388,831,1707,5660,188

In [34]:
df.isnull().sum()

Α/Α ΕΓΓΡΑΦΗΣ                 9500
Α/Α ENGAGE                   9500
X-ENGAGE                    11341
Y-ENGAGE                    11341
Υπηρεσία                        0
Νομός                           0
Ημερ/νία Έναρξης                0
Ώρα Έναρξης                     0
Ημερ/νία Κατασβεσης         14819
Ώρα Κατάσβεσης              14925
Δασαρχείο                   48338
Δήμος                           0
Περιοχή                     27732
Διεύθυνση                       0
Δάση                            0
Δασική Έκταση                   0
Άλση                            0
Χορτ/κές Εκτάσεις               0
Καλάμια - Βάλτοι                0
Γεωργικές Εκτάσεις              0
Υπολλείματα Καλλιεργειών        0
Σκουπι-δότοποι                  0
ΠΥΡΟΣ. ΣΩΜΑ                    10
ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ               21
ΕΘΕΛΟ-ΝΤΕΣ                      1
ΣΤΡΑΤΟΣ                         1
ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ                  1
ΠΥΡΟΣ. ΟΧΗΜ.                    0
ΟΧΗΜ. ΥΠΗΡΕΣΙΑΚΑ            30813
ΒΥΤΙΟ- ΦΟΡΑ                     1
ΜΗΧΑΝΗ-ΜΑΤΑ                     1
ΕΛΙΚΟ- ΠΤΕΡΑ                    1
Α/Φ CL415                       1
Α/Φ CL215                       1
Α/Φ PZL                         1
Α/Φ GRU.                        1
ΜΙΣΘ. ΕΛΙΚΟΠΤ.              27888
ΜΙΣΘ. ΑΕΡΟΣΚ.               27888
dtype: int64

In [45]:
df.duplicated().sum()

np.int64(0)

In [46]:
df.nunique()

Α/Α ΕΓΓΡΑΦΗΣ                49203
Α/Α ENGAGE                  48687
X-ENGAGE                    45390
Y-ENGAGE                    45390
Υπηρεσία                      278
Νομός                          52
Ημερ/νία Έναρξης             2169
Ώρα Έναρξης                  1385
Ημερ/νία Κατασβεσης          2155
Ώρα Κατάσβεσης               1367
Δασαρχείο                     311
Δήμος                         307
Περιοχή                      2922
Διεύθυνση                   27544
Δάση                          149
Δασική Έκταση                 254
Άλση                           30
Χορτ/κές Εκτάσεις             213
Καλάμια - Βάλτοι              113
Γεωργικές Εκτάσεις            243
Υπολλείματα Καλλιεργειών      166
Σκουπι-δότοποι                 52
ΠΥΡΟΣ. ΣΩΜΑ                   172
ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ              113
ΕΘΕΛΟ-ΝΤΕΣ                     48
ΣΤΡΑΤΟΣ                        34
ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ                 65
ΠΥΡΟΣ. ΟΧΗΜ.                   98
ΟΧΗΜ. ΥΠΗΡΕΣΙΑΚΑ               36
ΒΥΤΙΟ- ΦΟΡΑ                    26
ΜΗΧΑΝΗ-ΜΑΤΑ                    21
ΕΛΙΚΟ- ΠΤΕΡΑ                   25
Α/Φ CL415                      15
Α/Φ CL215                      10
Α/Φ PZL                        10
Α/Φ GRU.                        6
ΜΙΣΘ. ΕΛΙΚΟΠΤ.                 18
ΜΙΣΘ. ΑΕΡΟΣΚ.                  15
dtype: int64

# Data Cleaning

In [ ]:
columns_to_drop = ["Α/Α ΕΓΓΡΑΦΗΣ", "Α/Α ENGAGE", "Δασαρχείο", ]  # Replace with actual column names
df.drop(columns=columns_to_drop, inplace=True)